/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-dark-green: #077104;
  --vt-c-light-green: #A4E1A2;
  --vt-c-lighter-green: #E7FAEB;
  --vt-c-lighter-green-hover: #C9F0C8;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
  --vt-c-indigo-alpha: #2c3e5067;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --vt-c-text-gray-100: #353841;
  --vt-c-primary: var(--vt-c-dark-green);
  --vt-c-menu-hover: var(--vt-c-light-green);
  --vt-c-submenu-background-open: var(--vt-c-lighter-green);

  --menu-level-size: 21px;
  --menu-level-indent: 16px;
  --menu-level-active-size: 4px;
  --menu-level2-indent: 36px;
  --menu-level3-indent: calc(var(--menu-level2-indent) + var(--menu-level-indent) + 4px);
  --menu-level4-indent: calc(var(--menu-level3-indent) + var(--menu-level-indent) + 4px);
  --menu-level5-indent: calc(var(--menu-level4-indent) + var(--menu-level-indent) + 4px);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
